*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(240, 242, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 284px;
    height: 100px;
}

form {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.input {
    margin: 10px;
}

form div .head {
    padding: 5px;
    font-weight: 600;
    text-transform: capitalize;
}

form div .input {
    border: 2px solid rgb(203, 211, 224);
    border-radius: 5px;
    padding: 5px;
    width: 17rem;
}

form div .input::placeholder {
    padding-left: 5px;
}

div:last-child,
div:nth-child(6) {
    margin: 15px;
}

form div .button {
    background-color: rgb(0, 164, 0);
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 5px 30px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

form div .link {
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

form div .link:hover {
    text-decoration: underline;
}